[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ptpython = "*"

[packages]
google-patent-scraper = "*"
bs4 = "*"
lxml = "*"

[requires]
python_version = "3.8"
